# Dependencies
node_modules/
.pnp
.pnp.js

# Testing and Build output
.next/
out/
build/
dist/

# Environment files
.env
.env*.local
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Server specific
web3wave-server/seedAdmin.js

# OS Files
.DS_Store
Thumbs.db
